:root{
    background-color: white;
}
body {
    background: white url("img/background.jpg") no-repeat center;
}

#title_contain{
    width: 1020px;
    height: 170px;
}

.row{
    height: 600px;
}

#column1{
    background: white;
    height: 430px;
    width: 450px;
    float: left;
}

#column2{
    background: url("img/select_back.jpg") no-repeat;
    margin-top: -10px;
    height: 440px;
    width: 400px;
    float: left;
}

#my_canvas{
    background-color: #fff;
    float: left;
    border: 2px dashed deepskyblue;
    position: absolute;
    z-index: 5;
}

#mode_table{
    background: url("img/select_back.jpg") ;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border: 10px solid wheat;
}

.btn{
    background: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}
#brush_btn{
    margin-left: 23px;
    margin-top: 5px;
    background:white url("img/brush.png") no-repeat center;
}
#eraser_btn{
    margin-left: 18px;
    margin-top: 5px;
    background: white url("img/eraser.jpg") no-repeat center;
}
#text_btn{
    margin-left: 13px;
    margin-top: 5px;
    background: white url("img/text.jpg") no-repeat center;
}
#circle_btn{
    margin-left: 8px;
    margin-top: 5px;
    background: white url("img/circle.jpg") no-repeat center;
}
#square_btn{
    margin-left: 23px;
    background:white url("img/square.jpg") no-repeat center;
}
#triangle_btn{
    margin-left: 18px;
    background: white url("img/triangle.jpg") no-repeat center;
}
#unfilled_btn{
    margin-left: 13px;
    background: white url("img/unfilled.jpg") no-repeat center;
}
#refresh_btn{
    margin-left: 8px;
    background: white url("img/refresh.jpg") no-repeat center;
}
#undo_btn{
    margin-left: 23px;
    background: white url("img/undo.jpg") no-repeat center;
}
#redo_btn{
    margin-left: 18px;
    background: white url("img/redo.jpg") no-repeat center;
}
#download_btn{
    margin-left: 13px;
    background:white url("img/download.jpg") no-repeat center;
}
#upload_btn{
    margin-left: 8px;
    background: white url("img/upload.jpg") no-repeat center;
}
#rainbow_btn{
    margin-left: 23px;
    background: white url("img/rainbow.png") no-repeat center;
}
#rect_clean_btn{
    margin-left: 18px;
    background: white url("img/rect_clean.png") no-repeat center;
}
#line_btn{
    margin-left: 13px;
    background:white url("img/line.png") no-repeat center;
}
#gradient_btn{
    margin-left: 8px;
    background: white url("img/gradient.png") no-repeat center;
}

#brush_txt1{
    font-family: fantasy;
    font-size: 20px;
    margin-left: 20px;
    color:violet
}
#brush_txt2{
    font-family: fantasy;
    font-size: 20px;
    margin-left: -25px;
    color: red;
}


#brush_range{
    margin-left: -65px;
}

#color_selector_container{
    width : 560px;
    height: 160px;
    float: right;
}

#color_show_panel{
    width: 360px;
    height: 160px;
    float: right;
}

#cur_color{
    width: 3px;
    height: 3px;
    outline: 2px solid black;
    position: absolute;
}

#rgb{
    margin-left: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}
#hex{
    margin-left: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}
.color_in{
    margin-left: 10px;
    -webkit-border-radius: 5px;
}

#font_type{
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: white;
}
#typeface{
    margin-left: 55px;
}
#fontsize{
    margin-left: 75px;
}

#textBox{
    float: left;
    position: absolute;
    font: 10px, 'serif';
    word-break: break-all;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    z-index: 1;
}
#left_panel{
    float:left;
    width: 150px;
    height: 160px;
}
#right_panel{
    float:left;
    width: 190px;
    height: 160px;
}
.download_focus{
    float: left;
    width: 50px;
    height: 40px;
}

#down_in{
    -webkit-border-radius: 5px;
    width: 90px;
}

#dl_type{
    -webkit-border-radius: 5px;
    width:65px;
    margin-left: 50px;
}
